@reference "tailwindcss";

button {
  @apply h-16 w-full text-xl font-light text-white outline-none hover:bg-indigo-700/20 focus:outline-none;
}

.is-command {
  @apply bg-indigo-700/20;
}

/* OBSOLETO
::ng-deep .is-command {
  @apply bg-indigo-700/20;
} */
